/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* custom css start here */
a.fl-button:hover span {
	color: inherit !important;
}

.search-row .plp-view-product {
	text-decoration: none !important;
}

.color_variations_slider_1 .slick-track .selected-slide {
	order: -1 !important;
}

.color_variations_slider_1 .slick-track {
	display: flex;
}

.bx-wrapper .fl-slide.fl-slide-1 .fl-slide-title {
	margin-bottom: 0px !important;
}

.catalogROw .fl-button span:after {
	content: "\f054";
	margin-left: 5px;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

footer i.fab.fa-facebook:before {
	content: "\f230";
	color: #fff;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
}


footer ul.social-icons {
	text-align: left;
}

.sliderOver {
	position: absolute;
	width: 100%;
}

#djcustom-footer .header-Phone .fl-rich-text>p {
	margin: 0px !important;
}

.display_none {
	display: none;
}

.gfield_time_ampm select {
	min-width: 60px !important;
	width: 60px !important;
}

.topBar ul.storename .address a {
	display: flex;
	align-items: center;
}

.topBar ul.storename {
	margin-bottom: 0px !important;
}

.topBar ul.storename .address a p {
	display: flex;
	align-items: center;
	margin-bottom: 0px !important;
	font-size: 12px;
}

.topBar ul.storename .address a p:last-child {
	margin-left: 5px;
}

.topBar ul.storename .address a p:first-child:before {
	content: "\f041";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	margin-right: 6px;
	-webkit-font-smoothing: antialiased;
	font-size: 24px;
}

.topBar .storename .phone a span {
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

header .fl-search-form-input-wrap form>div.show:after {
	content: "\f002";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	right: 20px;
	pointer-events: none;
	color: #979696;
	top: 10px;
}

.topBar .storename .phone a {
	color: #fff;
}

.bannerAdd .uabb-infobox-text p {
	padding-bottom: 0px !important;
}

.bannerAdd:before {
	content: "" !important;
	position: absolute;
	height: 100%;
	width: 50vw;
	background-color: #fff;
	transform: translateX(-100%);
	display: block;
	border-bottom: 1px solid #000;
}

.gfield input[type=text] {
	width: 100% !important;
}

.sliderOver .infobox-icon-left .uabb-imgicon-wrap {
	margin-right: 10px;
}

.gfield {
	padding-right: 15px !important;
}

#responsive-menu-additional-content {
	padding: 5px 5% !important;
}

#responsive-menu-additional-content a {
	color: #fff !important;
}

#responsive-menu-search-box {
	padding: 18px 5% !important;
}

.facet_filters strong {
	color: #c68c22 !important;
}

button#responsive-menu-button {
	width: 40px !important;
	height: 40px !important;
}

/* custom css start here */


/*------------------TOP BAR STYLES ------------------*/

ul#topbar {
	margin: 0;
	padding: 0;
	overflow: hidden;

}

ul#topbar li {
	float: left;
	list-style-type: none;
}

ul#topbar li a {
	color: #F9F9F8;
	text-align: center;
	padding: 20px;
	text-decoration: none;
}

ul.social-icons {
	text-align: center;
}

ul#topbar li a:hover {
	color: #414042;
}

/* .product-grid .fl-button{
  background-color: #a4774f !important;
  border: 1px solid #a4774f !important;
}
.product-grid .fl-button span{
  color: #ffffff !important;
}
.product-grid .fl-button:hover{
  background-color: transparent !important;
}
.product-grid .fl-button:hover span{
  color: #a4774f !important;
} */

.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select {
	width: 60px !important;
	max-width: 60px !important;
}

.gform_wrapper .gfield_time_hour i {
	margin-top: -2px !important;
}

/* input#gform_submit_button_3,
.product-grid .fl-button{
  background-color: #a4774f !important;
  border: 1px solid #a4774f !important;
}
input#gform_submit_button_3,
.product-grid .fl-button span{
  color: #ffffff !important;
}

input#gform_submit_button_3:hover,
.product-grid .fl-button:hover{
  background-color: transparent !important;
}

input#gform_submit_button_3:hover,
.product-grid .fl-button:hover span{
  color: #a4774f !important;
} */

form select {
	padding: 6px 0px !important;
}

.button-wrapper-default a:hover {
	background: #FFB734;
	border: 2px solid #FFB734;
}

.fl-page-nav-search form {
	border-top: 3px solid #dea53d;
}

.uabb-gf-style .gform_wrapper .gfield_checkbox li label,
.uabb-gf-style .gform_wrapper .gfield_radio li label {
	vertical-align: top;
}

.storename .phone a span:before {
	content: "\f095";
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	font-size: 22px !important;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	text-decoration: inherit;
	vertical-align: middle;
	margin-right: 5px;

}


.header-Phone .storename .phone a span:before {
	margin-right: 15px !important;
}


.store-opening-hrs {
	padding-left: 0px !important;
	list-style: none;
}

.storename .store-opening-hrs li {
	display: flex;
	justify-content: space-between;
	margin: 20px;
}

.gform_body input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
	width: 100%;
}

.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not(.gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
	padding-right: 15px;
}

/*------------------END TOP BAR STYLES ------------------*/
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content .fl-slide-title {
	margin: 0px !important;
}

.social-icons li a:hover i:before {
	color: #DEA53D !important;
}

.search-row a.getcoupon-btn {
	margin-top: 10px;
	display: inline-block;
}

.product-detail-layout-6 .slide.selected-slide:after {
	background-position: center;
	left: 50%;
	transform: translateX(-50%);
}

.facetwp-selections ul:before {
	content: "Your Selection";
	font-weight: 700;
	font-size: 16px;
	border-bottom: 2px solid #C78C22;
	padding: 0px;
	width: 100% !important;
	position: relative;
	display: block;
	margin-bottom: 5px;
	color: #C78C22;
	padding: 5px 5px 5px 0px;
}

.facetwp-selections ul li .facetwp-selection-label {
	font-size: 16px;
	font-weight: 700;
}

.facetwp-selections ul {
	background-color: #eeee;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

header a.fl-button:focus span {
	color: #000 !important;
}
.topBar ul.storename .address a p:first-child:before, .topBar ul.storename .inline_address a:before {
    content: "\f041";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    margin-right: 6px;
    -webkit-font-smoothing: antialiased;
    font-size: 22px;
}

.topBar ul.storename .inline_address a, .topBar ul.storename .inline_address  {
    font-size: 12px;
    margin-bottom: 0px!important;
}
.topBar ul.storename .inline_address a:hover {
        color: #DEA53D !important;
}
.topBar ul.storename .inline_address a {
	margin-top: 0px!important;
    display: inline-block;
}
.topBar .fl-html {
    display: flex;
    align-items: center;
}
@media (max-width:1024px) {
	#rmp-menu-wrap-1152521 .rmp-menu .rmp-submenu .rmp-menu-item-link {
		line-height: 1.4em !important;
	}

	.product-detail-layout-6 .slide.selected-slide:after {
		top: 20% !important;
		background-position: center;
		left: 50%;
		transform: translateX(-50%);
	}

	.catalogROw .fl-button-wrap a {
		font-size: 14px !important;
	}

	.close_sidebar_button .fl-button span.fl-button-text,
	.open_sidebar .fl-button .fl-button-text {
		color: #000;
	}

	.close_sidebar_button .fl-button:hover .fl-button-text,
	.open_sidebar .fl-button:hover .fl-button-text {
		color: #fff;
	}

	footer .ipadHide {
		display: none !important;
	}

	#rmp_menu_trigger-1152521 {
		top: 70px !important;
	}

	.ipadHide {
		display: none !important;
	}

	.sliderOver>.fl-row-content-wrap {
		margin-top: -88px;
	}

	.style-product_list .pro-container .row .col-md-7 {
		width: 100% !important;
		min-height: 400px !important;
	}

	ul#topbar li a {
		font-size: 11px;
		padding: 5px;
	}

	.fl-page-nav .navbar-nav li>a {
		padding: 15px 8px;
		font-size: 13px;
	}
}

@media (max-width:992px) {
	.sliderOver>.fl-row-content-wrap {
		margin-top: 0px;
	}

	.sliderOver {
		position: relative;
	}

	.fl-page-header-wrap .fl-page-header-container {
		padding: 10px 20px !important;
	}

	.rmp-menu-additional-content .storename .phone a {
		color: #fff !important;
	}

	button#responsive-menu-button {
		width: 40px;
		height: 40px;
	}

	ul#topbar>li:last-child {
		display: block !important;
	}

	.social-icons-container {
		text-align: center;
	}

	.fl-button span.fl-button-text {
		color: #fff;
	}

	.uabb-gf-style .gform_wrapper .gform_footer input[type=submit] {
		width: auto !important;
		color: #fff;
	}

	.topBar ul.storename .address a {
		justify-content: center;
	}

	#rmp_menu_trigger-1152521 {
		top: 87px !important;
	}

}

@media(min-width:768px) {
	.fl-page-header-primary .fl-logo-img {
		max-width: 300px !important;
	}


}

@media(max-width:768px) {
	.product-detail-layout-6 .slick-track .slide.selected-slide:after {
		top: 20% !important;
	}

	.search-row .fl-post-grid-image {
		min-height: 240px;
	}

	.search-row .fl-post-grid-image {
		min-height: 240px;
	}

	.search-row .fl-post-grid-text h4 {
		min-height: 40px;
	}

	.search-row .fl-post-grid-image {
		min-height: 240px;
	}

	.search-row .fl-post-grid-image {
		min-height: 240px;
	}

	.search-row .fl-post-grid-text h4 {
		min-height: 40px;
	}

	.sliderOver .uabb-infobox-title-wrap h3 {
		margin-bottom: 0px !important;
	}

	.boxes-on-mobile-full-width.col3 {
		margin-left: 0px;
		max-width: 400px;
	}

	.rmp_menu_trigger.rmp-menu-trigger-boring {
		top: 70px !important;
	}

	.max400 img {
		max-width: 400px !important;
		width: 100%;
		display: block;
		margin: 0 auto;
	}

	.sliderOver .right-title-image {
		text-align: center !important;
	}

	.fl-builder-content .sliderOver .infobox-icon-right-title .uabb-infobox-title-wrap {
		width: auto !important;
	}

	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
		padding: 0px !important;
	}

	.max-width-issue {
		margin: 0px auto;
		max-width: 360px !important;
	}

	.max-width-issue_two img {
		margin: 0px auto;
		max-width: 360px !important;

	}

	.fl-page-header-logo {
		text-align: left !important;
	}

	button#responsive-menu-button {
		top: 22px !important;
	}

	/* Slider height issue on mobile open */

	.fl-content-slider .fl-slide-bg-photo {
		position: absolute !important;
		min-height: 500px !important;
	}

	.fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row>.fl-row-content-wrap {
		min-height: 500px;
	}

	.fl-slide-mobile-photo {
		z-index: +2;
		position: relative;
		max-height: 500px !important;
		text-align: center !important;
		vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}

	.fl-slide-mobile-photo>img {
		padding: 50px;
		max-height: 500px !important;
		width: auto;
		margin: 0 auto;
	}

	.fl-content-slider .fl-slide {
		min-height: 500px !important;
		max-height: 500px !important;
	}

	/* Slider height issue on mobile closed */

	.fl-slide.fl-slide-0.fl-slide-text-left .infobox-left {
		text-align: center;
	}

	.fl-content-slider .fl-slide-bg-link {
		z-index: 2;
	}

	#rmp_menu_trigger-1152521 {
		top: 125px !important;
	}
	.topBar .fl-html {
		justify-content: center;
		flex-wrap: wrap;
	}
}

@media(max-width:767px) {
	.search-row .product-grid {
		padding: 0px 20px !important;
	}
	.topBar .fl-html {
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: column!important;
	}
	button#responsive-menu-button {
		top: 10px !important;
	}

	.fl-page-bar .fl-page-bar-row .text-left {
		width: 60%;
		float: left;
	}

	.fl-page-bar .fl-page-bar-row .text-right {
		width: 40%;
		float: right;
	}

	.fl-page-bar .fl-page-bar-row .text-left * {
		text-align: left !important;
	}

	ul#topbar>li:last-child {
		float: right !important;
	}

	.fl-module-heading h1.fl-heading {
		line-height: 48px !important;
	}
}

@media(max-width:450px) {
	.max-width-issue_two img {
		margin: 0px auto;
		max-width: 100% !important;

	}

	.fl-page-bar .fl-page-bar-row .text-left {
		width: 66%;
		float: left;
		padding: 0px;
	}

	.fl-page-bar .fl-page-bar-row .text-right {
		width: 34%;
		float: right;
		padding: 0px;
	}

	.fl-col-group .boxes-on-mobile-full-width {
		width: 100% !important;
	}

	footer .fl-col-group .boxes-on-mobile-full-width {
		width: 100% !important;
	}

	.fl-page-header-primary .fl-logo-img {
		max-width: 80% !important;
	}

	button#responsive-menu-button {
		top: 20px !important;
	}

	.page-template-floorte_hardwood h2:nth-child(1) {
		padding: 0px 20px !important;
	}

	div#logo img.uabb-photo-img {
		width: 80%;
	}

	#rmp_menu_trigger-1152521 {
		top: 140px !important;
	}
}

.gform_wrapper .gform_body ul .gfield .ginput_container_time>select {
	min-height: 50px !important;
	max-height: none !important;
	height: 50px !important;
}

@media(max-width:767px) {
	div.product-detail-layout-6 .product-attributes tr td {
		word-break: break-word !important;
	}
}